footer {
    padding: 100px 0;
    background-color: var(--main-background);
    color: var(--main-text-color);
    text-align: center;
    margin-top: 1em;
}
footer a {
    color: var(--main-text-color);
}
