* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
:root {
    --main-background: #23252c;
    --main-text-color: #ddd;
    --link-button-color: #111;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
}
